---
import Icon from "astro-icon";

export interface Props {
  url: string;
  icon: string;
  label: string;
}

const { url, icon, label } = Astro.props;
---

<a href={url} aria-label={label} rel="noopener" target="_blank">
  <Icon class="h-8 icon" color="#000000" name={icon} />
</a>

<style>
  .icon:hover {
    color: hsl(0, 0%, 50%);
  }
</style>
