---
import Icon from 'astro-icon';

export interface Props {
  url: string;
  icon: string;
  label: string;
  color: string
}

const { url, icon, label, color } = Astro.props;
---

<a
  href={url}
  aria-label={label}
  rel="noopener"
>
  <Icon class="h-8" color={color} name={icon} />
</a>