---
export interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: hsl(3deg 53% 67%);
    --accent-gradient: linear-gradient(45deg, var(--accent), hsl(343deg 35% 55%) 30%, hsl(35deg 100% 98%) 60%);
  }
  html {
    font-family: "Comic Mono", monospace;
    background-color: hsl(32deg 57% 95%);
    color: hsl(248deg 19% 40%);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
